@media only screen and (min-width: 1024px) {

    h2.techno {
    margin: 0px !important;
    width: 63%;
    margin-bottom: 2rem !important;
    }
    h3.technoTitle {
      width: 42%;
  }
  h3.technoTitle2 {
    width: 46%;
    margin-top: 2rem;
}
nav.technoNames {
  width: 90%;
}
nav.technoNames2 {
  width: 61%;
  margin-bottom: 2rem;
    height: 200px;
}
h2.post.curved {
  margin-top: -35px;
  width: 62%;
  height: 100px;
}
img#web {
  width: 66%;
  height: 66%
}
h3.descr {
  width: 74%;
}
h2.contact {
  width: 50%;
}
h3.descr.end {
  text-align: start;
  margin-left: 15.5rem;
  font-size: 2rem;
}

h3.rights {
  font-size: 1rem;
  height: 50px;
}
}

@media only screen and (min-width: 769px) and (max-width:960px) {
  h2.techno {
    margin: 0px !important;
    width: 75%;
    margin-bottom: 2rem !important;
    font-size: 3rem !important;
    }
    h3.technoTitle {
      width: 47%;
      font-size: 2rem !important;
      }
  h3.technoTitle2 {
    width: 52%;
    margin-top: 2rem;
}
nav.technoNames {
  width: 89%;
    margin-left: 50px;
}
nav.technoNames2 {
  width: 82%;
  margin-bottom: 2rem;
    height: 200px;
}
h2.post.curved {
  font-size: 3rem !important;
  margin-top: -35px;
  width: 73%;
  height: 100px;
}
img#web {
  width: 66%;
  height: 66%
}
h3.descr {
  width: 78%;
  font-size: 1.5rem
}
h2.contact {
  width: 57%;
  font-size: 3rem !important;
}
h3.descr.end {
  text-align: start;
  margin-left: 8.5rem;
  font-size: 1.5rem;
}
img#gitHub {
  margin-right: 25px;
}
h3.rights {
  font-size: 1rem;
  height: 50px;
}
  .wave-container > svg {
    margin-top: -400px;
    display: inline !important;
    height: 414px;
    margin-left: -90px;
}
img.main-photoo {
  visibility: collapse;
  float: right;
  margin-top: 5.25rem;
}
.first-text {
  top: 7rem !important;
  left: 6.3rem !important;
  font-size: 3rem !important;
}
img#web {
  width: 66%;
  height: 66%;
}
.css-typing p, .css-typing2 p{
  font-size: 10px !important;
}
.css-typing{
  margin-right: -5rem;
  margin-top: -14rem;
  width: 80px !important;
    margin-block-end: auto;
    margin-top: -14rem !important;
}
.css-typing2{
  margin-right: 0rem;
    margin-top: -13.5rem !important;
    width: 0px !important;
}
h2.enter {
  margin-top: -70px;
    margin-left: 200px;
    position: absolute !important;
}
img.startIcon {
  z-index: 2;
}
img.firstIcon {
  margin-left: 27rem !important;
}
img.secondIcon {
  margin-left: 22rem !important;
}
div.scrollmenu {
  height: 0px;
}

}

/* Rozdzielczość mobilna najmniejsza*/
@media only screen and (max-width: 420px) and (min-width: 320px) {
  .flip-box:hover .flip-box-inner {
    visibility: visible !important;
  }

    .flip-box-front {
      -webkit-animation: flipFront 10s infinite;
      -moz-animation: flipFront 10s infinite;
      -ms-animation: flipFront 10s infinite;
      -o-animation: flipFront 10s infinite;
      animation: flipFront 10s infinite;
    }

    .flip-box-back {
      visibility: visible !important;
      -webkit-animation: flipBack 10s infinite;
      -moz-animation: flipBack 10s infinite;
      -ms-animation: flipBack 10s infinite;
      -o-animation: flipBack 10s infinite;
      animation: flipBack 10s infinite;
    }

  @keyframes flipFront {
    0%{
      opacity: 1;

    }
    50% {
      opacity:0;
    }
    100% {
      opacity:1;  
    }
  }
  @keyframes flipBack {
    0%{
      opacity: 0;

    }
    50% {
      opacity:1;  
    }
    100% {
      opacity:0;  
    }
  }

  @-webkit-keyframes flipFront {
    0%{
      opacity: 1;

    }
    50% {
      opacity:0;
    }
    100% {
      opacity:1;  
    }
  }
  @-webkit-keyframes flipBack {
    0%{
      opacity: 0;

    }
    50% {
      opacity:1;
    }
    100% {
      opacity:0;  
    }
  }
  
  @-moz-keyframes flipFront {
    0%{
      opacity: 1;

    }
    50% {
      opacity:0;
    }
    100% {
      opacity:1;  
    }
  }
  @-moz-keyframes flipBack {
    0%{
      opacity: 0;

    }
    50% {
      opacity:1;
    }
    100% {
      opacity:0;  
    }
  }
  
  @-ms-keyframes flipFront {
    0%{
      opacity: 1;

    }
    50% {
      opacity:0;
    }
    100% {
      opacity:1;  
    }
  }
  @-ms-keyframes flipBack {
    0%{
      opacity: 0;

    }
    50% {
      opacity:1;
    }
    100% {
      opacity:0;  
    }
  }
  
  @-o-keyframes flipFront {
    0%{
      opacity: 1;

    }
    50% {
      opacity:0;
    }
    100% {
      opacity:1;  
    }
  }
  @-o-keyframes flipBack {
    0%{
      opacity: 0;

    }
    50% {
      opacity:1;
    }
    100% {
      opacity:0;  
    }
  }
  h2.newPage {
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 700;  
    margin: 75px;
    margin-bottom: -65px !important;
    font-size: 1.1rem !important;
}
  .flip-box {
    margin: 10px 10px !important;
    background-color: transparent !important;
    display: inline-block !important;
}
img#dog {
  width: 90% !important;
  height: 90% !important;
}
img#tennis {
  width: 90% !important;
  height: 90% !important;
}
img#web {
  width: 90% !important;
  height: 90% !important;
  border-radius: 1rem !important;
  margin-bottom: 25px;
}
img.firstIcon {
  margin-left: 35px !important;
}
}
/* Kolejne media na mobilne */
@media only screen and (min-width: 300px) and (max-width: 640px) {
  html {
    margin-top: -75px !important;
  }
  div.css-typing {
      margin: auto;
      margin-top: 2px;
      width: fit-content;
      margin-left: 10px !important;
  }
  div.css-typing2 {
      margin: auto;
      width: 200px;
      margin-left: 0px;
      margin-top: 25px;
  }
}

/* Rozdzielczość na średnie ekrany do 768px*/
@media only screen and (max-width: 768px) {

  .social {
    margin-top: -50px;
}

  h3.rights {
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: .7rem !important;
    height: 30px;
}

  h3.descr.end {
    float: inherit;
    text-align: initial;
    font-size: 1.1rem !important;
    margin-left: 25px;
}

  h3.descr.end {
    float: inherit;
    text-align: initial;
}
  h2.contact { 
    /* margin top setted */
      
      margin-top: 0px;
      background:#996bc7;
      font-family: myriad-pro, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 5rem;
      color: #04e8b9;
      width: fit-content;
        margin-left: 25px;
        margin-top: -5px !important;
        font-size: 2rem !important;
    }
    

  div#imgo {
    width: 150px;
    background: white;
  }

  h3.descr {
    font-size: 1.4rem !important;
    float: left;
    margin-left: 25px;
    margin-bottom: 1rem;
    margin-top: 1rem !important;
}
h2.goback {
  /* margin-top: -50px;
  margin-bottom: 10px; */
}

h3 {
    font-size: 1rem !important;
}

div.flip-box {
  max-width:100%;
  max-height:100%;
}
.icon {
  height: 90px;
  width: 90px;
}
  .scrollmenu.content a{
    font-size: 0.6rem;
}
   .demo .main-title {
      font-size: 3em;
   }
   img.sppb-img-responsive {
      width: 300px;
   }
   h1.main-title.work-as {
      margin-top: 400px;
   }
   .col-1 {width: 8.33%;}
   .col-2 {width: 16.66%;}
   .col-3 {width: 25%;}
   .col-4 {width: 33.33%;}
   .col-5 {width: 41.66%;}
   .col-6 {width: 50%;}
   .col-7 {width: 58.33%;}
   .col-8 {width: 66.66%;}
   .col-9 {width: 75%;}
   .col-10 {width: 83.33%;}
   .col-11 {width: 91.66%;}
   .col-12 {width: 100%;}

   div.typing{
     display: flex;
     margin-top: -1px;
   }
   div.css-typing {
    margin: auto;
    margin-top: 0px;
    width: fit-content;
    margin-left: 35px;
   }
   div.css-typing2 {
    margin: auto;
    width: fit-content;
    margin-left: 0px;
    /* margin-top: -1px; */
  }
  div.projects{
    display: inline-block;
  }
  h2.techno.color {
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
  }

  h3.technoTitle, h3.technoTitle2 {
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: -10px;
    margin-left: 19px;
    font-size: 1.4rem !important;
    float: left;
  }
  h3.technoTitle2 {
    margin-top: 8px;
}

  h2.techno {
    width: fit-content;
    margin-left: 20px !important;
    font-size: 2rem !important;
    margin-bottom: 20px !important;
}
  img#kolko {
    margin: auto;
    width: 75px;
    height: 120px;
}
img#gitHub {
  margin-right: 40px;
  margin-top: 20px;
}
/* img#gitHub:hover {
transform: scale(1.2);
} */
img#web {
  width: 66%;
  height: 66%;
  border-radius: 1rem !important;
}
img#dog {
   width: 400px;
    height: 245px;
    border-radius: 1rem !important;
}
img#tennis {
   width: 400px;
    height: 229px;
    border-radius: 1rem !important;
}
nav.back3 {
  display: -webkit-inline-box;
  margin-top: -2px;
}
p.post.curved {
  font-size: 1rem !important;
  margin-top: 40px !important;
}
.first-text{
  top: 4rem !important;
  left:4rem !important;
  font-size: 1.7rem !important; 
}
.css-typing p { 
  font-size: 15px !important;
  margin-block-start: -0.75rem;
}
.css-typing2 p {
font-size: 15px !important;
margin-block-start: -0.75rem;
}
div.scrollmenu {
  font-size: .7rem;
}
.scrollmenu.content {
  font-size: 1.5rem;
}
h2.contact {
  font-size: 2rem !important;
}
h2.post.curved {
  margin-bottom: 0px !important;
  width: fit-content;
  margin-left: 25px;
  margin-top: -5px !important;
  font-size: 2rem !important;
}
.flip-box {
  background-color: transparent !important;
  display: inline-block !important;
}
nav.technoNames, nav.technoNames2 {
  float: left;
  width: -webkit-fill-available;
}
nav.technoNames {
  margin-left: 0px;
}
/* nav.technoNames2 {
  float: left;
} */
.css-typing2 h1 {
  margin-left: -1rem !important;
  margin-top: 2rem;

}
h1.click_go {
  font-size: 0.75rem !important;
}

img.main-photo {
  margin-left: 1rem;
  width: 150px;
  height: 200px;
  margin-top: -200px
}
/* Nowe metody */
.wave-container > svg {
  margin-top: -235px;
  display: inline !important;
  height: 280px;
  margin-left: -85px;
  /* height: 180px; */
}
.wave-container{
  position: fixed;
}
image.main-photo {
  x: 305;
  y: 305;
  width: 0px;
  height: 0px;
}
.first-text {
  top: 18.5rem !important;
  left: 1.5rem !important;
  font-size: 2.5rem !important;
}
div.typing {
  display: flex;
  /* Last -37px*/
  margin-top: -22px;
  height: 300px;
}
div.css-typing2 {
  margin: auto;
  width: 200px;
  margin-left: 20px;
  margin-top: initial;
}
div.scrollmenu {
  height: 0px;
}
body {
    margin: 0px !important;
}
div.mobile {
  background: white;
  height: 480px !important;
}
img.main-photoo {
  float: right;
  margin-top: 3.6rem;
}
h2.enter {
  margin-top: -120px !important;
  margin-bottom: 20px;
  color: white;
  background: #996bc7;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
}
.ending {
  height: 125px;
}
.middle {
  margin-top: -1px;
}
nav.back2{
  height: 550px;
}
}
/* Duże ekrany (monitor,tablet) */
.curved.back {
  height: 2px !important;
  transition: all 1s ease-out 0s !important;
}
.content.front {
  transition: all 1s ease-out 0s !important;
}
.credit {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

.credit a {
  color: #FDB515;
  font: 800 75% "Open Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
a {
  color: #996bc7;
}
html {
  scroll-behavior: smooth;
  /* margin-right: -10px; */
  margin-top: -18px;
}

img.main-photo{
  z-index: 1;
  position: relative;
    margin-top: -44rem;
}
div.rest {
  background: rgb(81, 68, 141);
  
}

.large-header {
   position: relative;
   width: 100%;
   background:#996bc7;
   overflow: hidden;
/*    background-size: cover; */
   background-position: center center;
   z-index: 1;
}
.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 10%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
   text-transform: uppercase;
   font-size: 4.2em;
   letter-spacing: 0.1em;
}
h1.main-title.work-as {
   margin-top: 250px;
}
.main-title .thin {
   font-weight: 200;
}
h2.goback {  
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 700;  
  height: 30px;
  color: #04e8b9;
  margin-top:15px;
  animation: shake-top 2s infinite cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation-delay: 3s;
}
h3.descr.end {
  float: inherit;
}

h2.enter {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 700;  
  margin-top: -70px;
  position: relative;
  opacity: 1;
  text-align: center;
  animation: shake-top 2s infinite cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation-delay: 3s;

}
h2.enter span::after {
  content: 'see more.'
}
h2.enter:hover span::after{
  content: 'click here.';
}
h2.newPage span::after {
  content: '▲';
}
h2.newPage:hover span::after {
  content: 'click here.';
}

div.mobile {
  height: 0px;
}
div.post {
   margin-top: 10px;
}
img.sppb-img-responsive {
   display: block;
   margin: 0 auto;
}
.curved{
   background: #996bc7;
   color: white;
   text-align: center;
}
.curved svg{
   display: block;
}
.curved2{
  background: white;
  color: white;
  text-align: center;
}
.curved2 svg{
  display: block;
}
image.main-photo {
   position: relative;
}
h2.post.curved{
  margin-bottom: -33px;
  color: #04e8b9;
   /* margin-top: 50px; */
   font-size: 4rem;
   font-family: myriad-pro, sans-serif;
   font-style: normal;
   font-weight: 700;
}
canvas.middle {
   background: rgb(82,70,133);
   background: linear-gradient(180deg, rgba(82,70,133,1) 17%, rgba(123,123,198,1) 52%, rgba(81,68,141,1) 100%);
   width: 100%;
   height: 150px;
   margin-bottom: -10px;
}
canvas.small {
   background: rgb(82, 70, 133);
   width: 100%;
   height: 400px;

}
div.scrollmenu {
   background-color: white;
   overflow: auto;
   white-space: nowrap;
   text-align: end;
 }
 
 div.scrollmenu a {
   font-size: 1.5rem;
   word-spacing: 20%;
   display: inline-block;
   color: white;
   text-align: center;
   padding: 10px 40px;
   text-decoration: none;
   font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", 
   Helvetica, Arial, "Lucida Grande", sans-serif;
 }
 
 div.scrollmenu a:hover {
   background-color: white;
 }
 nav.back3{
   background: #996bc7;
   /* display: flex; */
 }
 nav.back2{
  background: #996bc7;
}
.color{
  background: #996bc7;
  margin-block-end: -0.2rem;
  margin-block-start: -.2rem;
}
 img#java{
    align-self: start;
 }

 .first-text {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
   font-size: 6rem;
   top: 7rem;
   left: 16rem;
   position: absolute;
   opacity: 1;
   color: white;
 }
h3 {
   margin-block-start: 0em;
   margin-block-end: 0em;
   font-size: 2.5rem;
   font-family: myriad-pro, sans-serif;
   font-style: normal;
   font-weight: 700;
   /* font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
   /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

text.descr {
   position: absolute;
   font-size: 3rem;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: white;
}

/* .projects {
   padding: 1rem;
} */

.css-typing {
margin-left:10rem;
background: #996bc7;
box-shadow: 0 0 0 0 #ffffff;
margin-right: 2rem;
width: 230px;
margin-block-end: auto;
margin-top:-18rem;
z-index: 1;
position: relative;
padding: 10px;

}
.css-typing2 {
  background:#996bc7;
  margin-block-end: auto;
  width: 200px;
   margin-right: 5rem;
   margin-top: -17.5rem;
z-index: 1;
position: relative;
padding: 10px;
   }
.css-typing p {
   border-right: .15em solid orange;
   /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 14px;
   white-space: nowrap;
   overflow: hidden;
 }
 .css-typing p:nth-child(1) {
   width: 10em;
   -webkit-animation: type 1.5s steps(25, end);
   animation: type 1.5s steps(25, end);
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
 }
 .css-typing p:nth-child(2) {
   width: 4em;
   opacity: 0;
   -webkit-animation: type2 1.5s steps(15, end);
   animation: type2 1.5s steps(15, end);
   -webkit-animation-delay: 1.5s;
   animation-delay: 1.5s;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
 }
 .css-typing p:nth-child(3) {
   width: 8em;
   opacity: 0;
   -webkit-animation: type2 1.5s steps(20, end);
   animation: type2 1.5s steps(20, end);
   -webkit-animation-delay: 3s;
   animation-delay: 3s;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
 }
 .css-typing p:nth-child(4) {
   width: 10em;
   opacity: 0;
   -webkit-animation: type2 1.5s steps(20, end);
   animation: type2 1.5s steps(20, end);
   -webkit-animation-delay: 4.5s;
   animation-delay: 4.5s;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
 }
 .css-typing p:nth-child(5) {
   width: .5em;
   opacity: 0;
   -webkit-animation: type3 .1s steps(5, end), blink .5s step-end infinite alternate;
   animation: type3 .1s steps(5, end), blink .5s step-end infinite alternate;
   -webkit-animation-delay: 6s;
   animation-delay: 6s;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
 }
 
 @keyframes type {
   0% {
     width: 0;
   }
   99.9% {
     border-right: .15em solid orange;
   }
   100% {
     border: none;
   }
 }
 
 @-webkit-keyframes type {
   0% {
     width: 0;
   }
   99.9% {
     border-right: .15em solid orange;
   }
   100% {
     border: none;
   }
 }
 
 @keyframes type2 {
   0% {
     width: 0;
   }
   1% {
     opacity: 1;
   }
   99.9% {
     border-right: .15em solid orange;
   }
   100% {
      border: none;
     opacity: 1;
   }
 }
 
 @-webkit-keyframes type2 {
   0% {
     width: 0;
   }
   1% {
     opacity: 1;
   }
   99.9% {
     border-right: .15em solid orange;
   }
   100% {
     opacity: 1;
     border: none;

   }
 }
 @keyframes type3 {
   0% {
     width: 0;
   }
   1% {
     opacity: 1;
   }
   100% {
     opacity: 1;
   }
 }
 
 @-webkit-keyframes type3 {
   0% {
     width: 0;
   }
   1% {
     opacity: 1;
   }
   100% {
     opacity: 1;
   }
 }
 
 @keyframes blink {
   50% {
     border-color: transparent;
   }
 }
 @-webkit-keyframes blink {
   50% {
     border-color: tranparent;
   }
 }
 .css-typing2 p {
   border-right: .15em solid orange;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 14px;
   white-space: nowrap;
   overflow: hidden;
 }
 .css-typing2 p:nth-child(1) {
   opacity: 0;
   width: 5.7em;
   -webkit-animation: type2 1.2s steps(20, end);
   animation: type2 1.2s steps(20, end);
   -webkit-animation-delay: 7.5s;
   animation-delay: 7.5s;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
 }
 .css-typing2 p:nth-child(2) {
   width: 10.5em;
   opacity: 0;
   -webkit-animation: type2 1.5s steps(20, end);
   animation: type2 1.5s steps(20, end);
   -webkit-animation-delay: 9s;
   animation-delay: 9s;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
 }
 .css-typing2 p:nth-child(3) {
   width: 7em;
   opacity: 0;
   -webkit-animation: type2 1.5s steps(20, end);
   animation: type2 1.5s steps(20, end);
   -webkit-animation-delay: 10.5s;
   animation-delay: 10.5s;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
 }
 .css-typing2 p:nth-child(4) {
   width: 5.7em;
   opacity: 0;
   -webkit-animation: type2 1.5s steps(20, end);
   animation: type2 1.5s steps(20, end);
   -webkit-animation-delay: 12s;
   animation-delay: 12s;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
 }
 .css-typing2 p:nth-child(5) {
   width: .5em;
   opacity: 0;
   -webkit-animation: type3 .5s steps(15, end), blink .5s step-end infinite alternate;
   animation: type3 .5s steps(15, end), blink .5s step-end infinite alternate;
   -webkit-animation-delay: 13.5s;
   animation-delay: 13.5s;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
 }
 
 @keyframes type {
   0% {
     width: 0;
   }
   99.9% {
     border-right: .15em solid orange;
   }
   100% {
     border: none;
   }
 }
 
 @-webkit-keyframes type {
   0% {
     width: 0;
   }
   99.9% {
     border-right: .15em solid orange;
   }
   100% {
     border: none;
   }
 }
 
 @keyframes type2 {
   0% {
     width: 0;
   }
   1% {
     opacity: 1;
   }
   99.9% {
     border-right: .15em solid orange;
   }
   100% {
      border: none;
     opacity: 1;
   }
 }
 
 @-webkit-keyframes type2 {
   0% {
     width: 0;
   }
   1% {
     opacity: 1;
   }
   99.9% {
     border-right: .15em solid orange;
   }
   100% {
     opacity: 1;
     border: none;

   }
 }
 @keyframes type3 {
   0% {
     width: 0;
   }
   1% {
     opacity: 1;
   }
   100% {
     opacity: 1;
   }
 }
 
 @-webkit-keyframes type3 {
   0% {
     width: 0;
   }
   1% {
     opacity: 1;
   }
   100% {
     opacity: 1;
   }
   
 }
 
 @keyframes type4 {
  0% {
    width: 13em;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type4 {
  0% {
    width: 13em;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
  
}



 @keyframes blink {
   50% {
     border-color: transparent;
   }
 }
 @-webkit-keyframes blink {
   50% {
     border-color: tranparent;
   }
 }
 .typing {
   display: -webkit-box;
   background:#996bc7;
   text-align: start;
 }

 h2.techno {
   color: #04e8b9;
   font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", 
   Helvetica, Arial, "Lucida Grande", sans-serif;
   font-size: 4rem;
   margin: 75px;
}
/* .icon {
   box-shadow: 5px 5px 5px 1px rgba(255,255,255, .9);
	border-radius: 7px;
	 transition: transform .3s cubic-bezier(.7,-0.39,.31,1.38);
	overflow: hidden;
} */
.icon:hover {
   transform: scale(1.02,1.05);
transition: all 0.25s ease-in-out;
} 


h2.contact { 
/* margin top setted */
  margin-top: 0px;
  background:#996bc7;
font-family: myriad-pro, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 4rem;
      color: #04e8b9;
  text-align: center;
}
img#dog {
  width: 66%;
  height: 66%;
  border-radius: 2.3rem;
  will-change: transform;
  transition-timing-function: ease;
  transition-duration: 0s;
  transform-origin: center center;
  transform-style: preserve-3d;
  filter: blur(0px);
  opacity: 1;
   will-change: transform;
}

img#tennis {
  height: 66%;
  width: 66%;
  border-radius: 2.5rem;
}

a.red {
  color:red;
}
a.green {
  color: #04e8b9;
}
text.green {
  color: #04e8b9;
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.focus-in-expand-fwd:hover {
	animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-800px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    filter: blur(0);
    opacity: 1;
  }
}
.bounce-top {
  animation: bounce-top 0.9s both;
  z-index: 2;
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.shake-top:hover {
	animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@keyframes shake-top {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

.wave-container {
  background: white;
  z-index: 1;
  position: relative;
}
.wave-container > svg {
  display: block;

}

/* @keyframes animateWave {
  0% {
    transform: scale(1,0);
  }
  100% {
    transform: scale(1,1);
  }
} */
.wave-container > svg {
  /* display: block; */
  transform-origin: bottom;
  /* animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards; */
}
svg.colour_back {
  background: #996bc7;
}
h3.end {
  background:#996bc7;
  margin-left: 0px;
}


@import "compass/css3";

* {
  @include box-sizing(border-box); 
}
.module {
  width: 48%;
  min-height: 200px;
  background: white;
  position: relative;
  float: left;
  padding: 20px;
  margin-right: 4%;
  margin-bottom: 4%;
  box-shadow: 0 1px 3px rgba(black, 0.2);
}
.come-in {
  transform: translateX(550px);
  animation: come-in 2.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.9s;
}
.already-visible {
  transform: translateX(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateX(0); }
}

hr.rounded {
  border-top: 3px solid #04e8b9;
  border-radius: 2px;
  margin-top: 0rem;
  border: double;
  
}


.flip-box {
  margin: 20px 20px;
  background-color: transparent;
  width: 100px;
  height: 100px;
  display: inline-block;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 2s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  visibility: hidden;
  /* transform: rotateY(270deg); */
}
.flip-box:hover .flip-box-back {
  color: white;
  background-color: transparent;
   transform: rotateY(360deg);
  /* transition: transform 2s; */
  visibility: visible;
}
/* Position the front and back side */
.flip-box-front, .flip-box-back {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color:transparent;
  color: black;
}


/* Style the back side */
.flip-box-back {
  visibility: hidden;
  background-color: transparent;
  color: white;
  /* transform: rotateY(90deg);
  transition: transform 2s; */

}

@keyframes wheel {
  0% {

  }
  50% {

  }
  100%{

  }
}
h4 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3.descr {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
div {
  background:#996bc7;
}

h1.click_go {
  color: white;
  font-size: 1.25rem;
  font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
}
h1.click_go:hover {
  color: white;
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
}
.middle {
  margin-top: -2px;
}

/* Małe ikonki z przodu*/
img.startIcon {   
  visibility: hidden;
  height: 100px;
  width: 100px;
  position: absolute;
}
img.firstIcon {
  margin-left: 75px;
  margin-top: 25px;
}
img.secondIcon {
  margin-left: 15px;
  margin-top: 125px;
}
img.icon-java {      
  -webkit-animation: motion 25s 0s cubic-bezier(.17,.67,.83,.67) infinite;
  -moz-animation: motion 25s 0s cubic-bezier(.17,.67,.83,.67) infinite;
  -o-animation: motion 25s 0s cubic-bezier(.17,.67,.83,.67) infinite;
  animation: motion 25s 0s cubic-bezier(.17,.67,.83,.67) infinite;
}
img.icon-android {
  -webkit-animation: motion 25s 2.5s cubic-bezier(.17,.67,.83,.67) infinite;
  -moz-animation: motion 25s 2.5s cubic-bezier(.17,.67,.83,.67) infinite;
  -o-animation: motion 25s 2.5s cubic-bezier(.17,.67,.83,.67) infinite;
  animation: motion 25s 2.5s cubic-bezier(.17,.67,.83,.67) infinite;
}
img.icon-spring {
  -webkit-animation: motion 25s 5s cubic-bezier(.17,.67,.83,.67) infinite;
  -moz-animation: motion 25s 5s cubic-bezier(.17,.67,.83,.67) infinite;
  -o-animation: motion 25s 5s cubic-bezier(.17,.67,.83,.67) infinite;
  animation: motion 25s 5s cubic-bezier(.17,.67,.83,.67) infinite;
}
img.icon-git {
  -webkit-animation: motion 25s 7.5s cubic-bezier(.17,.67,.83,.67) infinite;
  -moz-animation: motion 25s 7.5s cubic-bezier(.17,.67,.83,.67) infinite;
  -o-animation: motion 25s 7.5s cubic-bezier(.17,.67,.83,.67) infinite;
  animation: motion 25s 7.5s cubic-bezier(.17,.67,.83,.67) infinite;
}
img.icon-html {
  -webkit-animation: motion 25s 10s cubic-bezier(.17,.67,.83,.67) infinite;
  -moz-animation: motion 25s 10s cubic-bezier(.17,.67,.83,.67) infinite;
  -o-animation: motion 25s 10s cubic-bezier(.17,.67,.83,.67) infinite;
  animation: motion 25s 10s cubic-bezier(.17,.67,.83,.67) infinite;
}
img.icon-angular {
  -webkit-animation: motion 25s 12.5s cubic-bezier(.17,.67,.83,.67) infinite;
  -moz-animation: motion 25s 12.5s cubic-bezier(.17,.67,.83,.67) infinite;
  -o-animation: motion 25s 12.5s cubic-bezier(.17,.67,.83,.67) infinite;
  animation: motion 25s 12.5s cubic-bezier(.17,.67,.83,.67) infinite;
}
img.icon-hibernate {
  -webkit-animation: motion 25s 15s cubic-bezier(.17,.67,.83,.67) infinite;
  -moz-animation: motion 25s 15s cubic-bezier(.17,.67,.83,.67) infinite;
  -o-animation: motion 25s 15s cubic-bezier(.17,.67,.83,.67) infinite;
  animation: motion 25s 15s cubic-bezier(.17,.67,.83,.67) infinite;
}
img.icon-kotlin {
    -webkit-animation: motion 25s 17.5s cubic-bezier(.17,.67,.83,.67) infinite;
  -moz-animation: motion 25s 17.5s cubic-bezier(.17,.67,.83,.67) infinite;
  -o-animation: motion 25s 17.5s cubic-bezier(.17,.67,.83,.67) infinite;
  animation: motion 25s 17.5s cubic-bezier(.17,.67,.83,.67) infinite;
}
img.icon-sql {
  -webkit-animation: motion 25s 20s cubic-bezier(.17,.67,.83,.67) infinite;
  -moz-animation: motion 25s 20s cubic-bezier(.17,.67,.83,.67) infinite;
  -o-animation: motion 25s 20s cubic-bezier(.17,.67,.83,.67) infinite;
  animation: motion 25s 20s cubic-bezier(.17,.67,.83,.67) infinite;
}
@keyframes motion {
  0% {
    visibility: hidden;
    opacity: 0.2;
}
10% {
  visibility: visible;
  opacity: 0;
}
20% {
  opacity: 0;
}
30% {
  opacity: 0;
}
40% {
  opacity: 0;
}
50% {
  opacity: 0;
}
60% {
  opacity: 0;
}
70% {
  opacity: 0;
}
80% {
  opacity: 0;
}
90% {
  opacity: 0;
}
100% {
    opacity: 0;
}
}

@-moz-keyframes motion {
  0% {
    visibility: hidden;
    opacity: 0.2;
}
10% {
  visibility: visible;
  opacity: 0;
}
20% {
  opacity: 0;
}
30% {
  opacity: 0;
}
40% {
  opacity: 0;
}
50% {
  opacity: 0;
}
60% {
  opacity: 0;
}
70% {
  opacity: 0;
}
80% {
  opacity: 0;
}
90% {
  opacity: 0;
}
100% {
    opacity: 0;
}

}
@-webkit-keyframes motion {
  0% {
    visibility: hidden;
    opacity: 0.2;
}
10% {
  visibility: visible;
  opacity: 0;
}
20% {
  opacity: 0;
}
30% {
  opacity: 0;
}
40% {
  opacity: 0;
}
50% {
  opacity: 0;
}
60% {
  opacity: 0;
}
70% {
  opacity: 0;
}
80% {
  opacity: 0;
}
90% {
  opacity: 0;
}
100% {
    opacity: 0;
}

}
@-ms-keyframes motion {
  0% {
    visibility: hidden;
    opacity: 0.2;
}
10% {
  visibility: visible;
  opacity: 0;
}
20% {
  opacity: 0;
}
30% {
  opacity: 0;
}
40% {
  opacity: 0;
}
50% {
  opacity: 0;
}
60% {
  opacity: 0;
}
70% {
  opacity: 0;
}
80% {
  opacity: 0;
}
90% {
  opacity: 0;
}
100% {
    opacity: 0;
}

}
@-o-keyframes motion {
  0% {
    visibility: hidden;
    opacity: 0.2;
}
10% {
  visibility: visible;
  opacity: 0;
}
20% {
  opacity: 0;
}
30% {
  opacity: 0;
}
40% {
  opacity: 0;
}
50% {
  opacity: 0;
}
60% {
  opacity: 0;
}
70% {
  opacity: 0;
}
80% {
  opacity: 0;
}
90% {
  opacity: 0;
}
100% {
    opacity: 0;
}

}